:root {
    --font-xx-small: 14px;
    --font-x-small: 16px;
    --font-small: 18px;
    --font-medium: 20px;
    --font-large: 22px;
    --font-x-large: 28px;
    --font-xx-large: 36px;
    --font-xxx-large: 42px;
    --font-line-height: 1.4;
    --font-montserrat: montserrat, arial, sans-serif;
    --font-rubik: rubik, arial, sans-serif;
}
