:root {
    --color-white: #fff;
    --color-semi-wheat: #fdfaf5;
    --color-ghostwhite: #fefcfa;
    --color-lightblue: #d2ddff;
    --color-navy: #122659;
    --color-slategray: #677085;
    --color-gray: rgba(217, 217, 217, 0.3);
    --color-gold: #f4c752;
    --color-wheat: #ffd787;
    --color-pink: #feb9cc;
    --color-skyblue: #8dd9e5;
    --color-semi-skyblue: #f7fafc; 
}
