:root {
    --color-white: #fff;
    --color-ghostwhite: #fefcfa;
    --color-semi-wheat: #fdfaf5;
    --color-semi-skyblue: #f7fafc;
    --color-navy: #122659;
    --color-slategrey: #677085;
    --color-gold: #f4c752;
    --color-wheat: #ffd787;
    --color-pink: #feb9cc;
    --color-skyblue: #8dd9e5;
}
