@import "@/assets/styles/breaks";

.text {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-style: normal;
  line-height: var(--font-line-height);
  text-decoration: none;
  letter-spacing: 0;
  color: var(--color-navy);
}

.text--basic {
  font-size: var(--font-x-small);
  @media (max-width: $desktop) {
    font-size: var(--font-x-small);
  }
}

.text--basic-lead {
  font-size: var(--font-medium);
  font-weight: 500;
  @media (max-width: $desktop) {
    font-size: var(--font-small);
  }
  @media (max-width: $table) {
    font-size: var(--font-x-small);
  }
}

.text--site-nav {
  font-size: var(--font-x-small);
  @media (max-width: $desktop) {
    font-size: var(--font-large);
  }
  @media (max-width: $table) {
    font-size: var(--font-small);
  }
}

// .text--intro {
//   font-size: $x-small;

//   @media (max-width: $table) {
//     font-size: $x-small;
//   }
// }

// .text--group-item {
//   font-size: $x-small;
// }

// .text--group-item-lead {
//   font-size: $medium;
//   font-weight: 500;
// }

// .text--group-item-price {
//   font-size: 1.25em;
//   font-weight: 500;
// }

// .text--teacher-name {
//   font-size: $medium;
//   font-weight: 500;
// }

// .text--teacher-country {
//   color: $slategrey;
// }

// .text--trial {
//   color: $white;
// }

.text--contacts {
  font-size: var(--font-small);
  font-weight: 500;

  @media (max-width: $table) {
    font-size: var(--font-x-small);
  }
}
